# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so
*.[oa]

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.spec

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
/prof/

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# Generated documentation
/docs/gen/
/docs/apidocs/
/site/
/*.html
/docs/*.png

# PyBuilder
target/

# DotEnv configuration
.env
.envrc

# Database
*.db
*.rdb

# Pycharm
.idea

# VS Code
.vscode/
*.vscode-workspace
*.code-workspace

# Sublime Text
*.sublime-workspace

# Spyder
.spyproject/

# Jupyter NB Checkpoints
.ipynb_checkpoints/

# Eclipse
.settings

# exclude data from source control by default
/data/

# Mac OS-specific storage files
.DS_Store

# vim
*.swp
*.swo

# Mypy cache
.mypy_cache/

# Google Drive
*.gdoc
*.gsheet
*.gslides
*.gdraw

# Temporary virtual environment files
/.cache/
/.venv/
tmp/

# Temporary Python files
*.pyc
*.egg-info/
__pycache__/
*.py[cod]
.ipynb_checkpoints/
pip-wheel-metadata/

# Temporary OS files
Icon*
